In [2]:
import pandas as pd

In [3]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\miniconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\miniconda3\lib\site-packages (from openpyxl) (2.0.0)

In [4]:
customer = pd.read_excel(r"C:\Users\QC#\Downloads\customers.xlsx")
products = pd.read_excel(r"C:\Users\QC#\Downloads\products.xlsx")
orders = pd.read_excel(r"C:\Users\QC#\Downloads\orders.xlsx")

In [5]:
customer=pd.DataFrame(customer)

In [6]:
print(customer)

   customer_id  gender  age        city signup_date
0      CUST001    Male   42     Karachi  2024-06-02
1      CUST002    Male   47      Lahore  2024-12-05
2      CUST003  Female   34  Faisalabad  2024-02-23
3      CUST004    Male   18      Multan  2024-03-09
4      CUST005    Male   25      Lahore  2024-05-15
..         ...     ...  ...         ...         ...
95     CUST096    Male   26   Islamabad  2024-05-22
96     CUST097    Male   45      Multan  2024-02-05
97     CUST098  Female   29      Multan  2024-05-22
98     CUST099    Male   35      Lahore  2024-06-28
99     CUST100  Female   47      Multan  2024-11-24

[100 rows x 5 columns]

In [7]:
products=pd.DataFrame(products)

In [8]:
print(products)

   product_id product_name     category
0     PROD001    Product_1       Beauty
1     PROD002    Product_2         Home
2     PROD003    Product_3  Electronics
3     PROD004    Product_4  Electronics
4     PROD005    Product_5         Home
5     PROD006    Product_6     Clothing
6     PROD007    Product_7         Home
7     PROD008    Product_8  Electronics
8     PROD009    Product_9  Electronics
9     PROD010   Product_10       Beauty
10    PROD011   Product_11         Home
11    PROD012   Product_12         Home
12    PROD013   Product_13       Beauty
13    PROD014   Product_14  Electronics
14    PROD015   Product_15       Beauty
15    PROD016   Product_16     Clothing
16    PROD017   Product_17         Home
17    PROD018   Product_18  Electronics
18    PROD019   Product_19       Beauty
19    PROD020   Product_20  Electronics

In [9]:
orders=pd.DataFrame(orders)

In [10]:
print(orders)

   order_id customer_id product_id  order_date  quantity  price
0    ORD001     CUST067    PROD014  2024-07-25         4    939
1    ORD002     CUST069    PROD008  2024-09-25         5   1742
2    ORD003     CUST088    PROD006  2024-08-23         5   1722
3    ORD004     CUST093    PROD017  2024-08-26         4   2989
4    ORD005     CUST095    PROD015  2024-09-06         3   1197
..      ...         ...        ...         ...       ...    ...
95   ORD096     CUST089    PROD006  2024-08-02         1    800
96   ORD097     CUST001    PROD002  2024-06-23         1   4225
97   ORD098     CUST097    PROD009  2024-08-11         4   1221
98   ORD099     CUST099    PROD013  2024-09-24         4   3076
99   ORD100     CUST014    PROD011  2024-08-02         1   2567

[100 rows x 6 columns]

In [11]:
#Shape of the orders Data set
orders.shape

(100, 6)

In [12]:
#Check Data Type
orders.info()
customer.info()
products.info()

<class 'pandas.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     100 non-null    str
 1   customer_id  100 non-null    str
 2   product_id   100 non-null    str
 3   order_date   100 non-null    str
 4   quantity     100 non-null    int64
 5   price        100 non-null    int64
dtypes: int64(2), str(4)
memory usage: 4.8 KB
<class 'pandas.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  100 non-null    str
 1   gender       100 non-null    str
 2   age          100 non-null    int64
 3   city         100 non-null    str
 4   signup_date  100 non-null    str
dtypes: int64(1), str(4)
memory usage: 4.0 KB
<class 'pandas.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    20 non-null     str
 1   product_name  20 non-null     str
 2   category      20 non-null     str
dtypes: str(3)
memory usage: 612.0 bytes

In [13]:
#Check Data type
orders.dtypes
customer.dtypes
products.dtypes

product_id      str
product_name    str
category        str
dtype: object

In [14]:
 #Identify if any missing Value exist
# in order data set
orders.isna().sum()

order_id       0
customer_id    0
product_id     0
order_date     0
quantity       0
price          0
dtype: int64

In [15]:
#In products
products.isna().sum()

product_id      0
product_name    0
category        0
dtype: int64

In [16]:
# in orders
orders.isna().sum()

order_id       0
customer_id    0
product_id     0
order_date     0
quantity       0
price          0
dtype: int64

In [17]:
#Print column name of customer data sets 
customer.columns

Index(['customer_id', 'gender', 'age', 'city', 'signup_date'], dtype='str')

In [18]:
#Generate a Statistical summary of numeric columns
#for order
orders.describe()

         quantity        price
count  100.000000   100.000000
mean     3.030000  2697.630000
std      1.329198  1246.103621
min      1.000000   521.000000
25%      2.000000  1706.250000
50%      3.000000  2691.500000
75%      4.000000  3881.250000
max      5.000000  4961.000000

In [19]:
#for customers
customer.describe()

              age
count  100.000000
mean    33.700000
std      9.777835
min     18.000000
25%     25.000000
50%     33.000000
75%     43.000000
max     50.000000

In [20]:
#for products
products.describe()

       product_id product_name     category
count          20           20           20
unique         20           20            4
top       PROD001    Product_1  Electronics
freq            1            1            7

In [21]:
#identify which columns look categorical
orders.describe(include='object')

C:\Users\QC#\AppData\Local\Temp\ipykernel_16960\3764220839.py:2: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  orders.describe(include='object')

       order_id customer_id product_id  order_date
count       100         100        100         100
unique      100          65         20          82
top      ORD001     CUST086    PROD015  2024-11-14
freq          1           4         10           3

In [22]:
customer.describe(include='string')

       customer_id gender    city signup_date
count          100    100     100         100
unique         100      2       5          90
top        CUST001   Male  Multan  2024-05-15
freq             1     56      25           2

In [23]:
#for products
products.describe(include='string')

       product_id product_name     category
count          20           20           20
unique         20           20            4
top       PROD001    Product_1  Electronics
freq            1            1            7

In [24]:
#inspect the structure of products data sets
products.head(11)

   product_id product_name     category
0     PROD001    Product_1       Beauty
1     PROD002    Product_2         Home
2     PROD003    Product_3  Electronics
3     PROD004    Product_4  Electronics
4     PROD005    Product_5         Home
5     PROD006    Product_6     Clothing
6     PROD007    Product_7         Home
7     PROD008    Product_8  Electronics
8     PROD009    Product_9  Electronics
9     PROD010   Product_10       Beauty
10    PROD011   Product_11         Home

In [25]:
#Show the first 10 rows and last 10 rows of orders data set
print(orders.head(10))
print(orders.tail(10))

  order_id customer_id product_id  order_date  quantity  price
0   ORD001     CUST067    PROD014  2024-07-25         4    939
1   ORD002     CUST069    PROD008  2024-09-25         5   1742
2   ORD003     CUST088    PROD006  2024-08-23         5   1722
3   ORD004     CUST093    PROD017  2024-08-26         4   2989
4   ORD005     CUST095    PROD015  2024-09-06         3   1197
5   ORD006     CUST095    PROD002  2024-08-11         1   2533
6   ORD007     CUST086    PROD018  2024-09-16         4   1470
7   ORD008     CUST026    PROD008  2024-08-04         3   3909
8   ORD009     CUST047    PROD004  2024-06-21         2   2348
9   ORD010     CUST056    PROD015  2024-09-29         4   4780
   order_id customer_id product_id  order_date  quantity  price
90   ORD091     CUST064    PROD001  2024-09-28         3   3201
91   ORD092     CUST052    PROD003  2024-09-20         2   3872
92   ORD093     CUST032    PROD014  2024-10-30         1   4558
93   ORD094     CUST019    PROD005  2024-08-08         3   2861
94   ORD095     CUST084    PROD015  2024-08-22         4   3780
95   ORD096     CUST089    PROD006  2024-08-02         1    800
96   ORD097     CUST001    PROD002  2024-06-23         1   4225
97   ORD098     CUST097    PROD009  2024-08-11         4   1221
98   ORD099     CUST099    PROD013  2024-09-24         4   3076
99   ORD100     CUST014    PROD011  2024-08-02         1   2567

In [26]:
#Display data sets info including memory usage.
customer.info(memory_usage='deep')

<class 'pandas.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  100 non-null    str
 1   gender       100 non-null    str
 2   age          100 non-null    int64
 3   city         100 non-null    str
 4   signup_date  100 non-null    str
dtypes: int64(1), str(4)
memory usage: 22.9 KB

In [27]:
#count total no of orders 
total_orders=len(orders)
print(f"Total number of orders:{total_orders}")

Total number of orders:100

In [28]:
#count unique customers
unique_customer= customer['customer_id'].unique()
print(f"Total unique customer:{unique_customer}")

Total unique customer:<StringArray>
['CUST001', 'CUST002', 'CUST003', 'CUST004', 'CUST005', 'CUST006', 'CUST007',
 'CUST008', 'CUST009', 'CUST010', 'CUST011', 'CUST012', 'CUST013', 'CUST014',
 'CUST015', 'CUST016', 'CUST017', 'CUST018', 'CUST019', 'CUST020', 'CUST021',
 'CUST022', 'CUST023', 'CUST024', 'CUST025', 'CUST026', 'CUST027', 'CUST028',
 'CUST029', 'CUST030', 'CUST031', 'CUST032', 'CUST033', 'CUST034', 'CUST035',
 'CUST036', 'CUST037', 'CUST038', 'CUST039', 'CUST040', 'CUST041', 'CUST042',
 'CUST043', 'CUST044', 'CUST045', 'CUST046', 'CUST047', 'CUST048', 'CUST049',
 'CUST050', 'CUST051', 'CUST052', 'CUST053', 'CUST054', 'CUST055', 'CUST056',
 'CUST057', 'CUST058', 'CUST059', 'CUST060', 'CUST061', 'CUST062', 'CUST063',
 'CUST064', 'CUST065', 'CUST066', 'CUST067', 'CUST068', 'CUST069', 'CUST070',
 'CUST071', 'CUST072', 'CUST073', 'CUST074', 'CUST075', 'CUST076', 'CUST077',
 'CUST078', 'CUST079', 'CUST080', 'CUST081', 'CUST082', 'CUST083', 'CUST084',
 'CUST085', 'CUST086', 'CUST087', 'CUST088', 'CUST089', 'CUST090', 'CUST091',
 'CUST092', 'CUST093', 'CUST094', 'CUST095', 'CUST096', 'CUST097', 'CUST098',
 'CUST099', 'CUST100']
Length: 100, dtype: str

In [29]:
#Calculte the average product price
avg_products_price=orders['price'].mean()
print(f"Average products price is:{avg_products_price}")

Average products price is:2697.63

In [30]:
#calculate the maximum price
max_products_price=orders['price'].max()
print(f"Maximum products price is:{max_products_price}")

Maximum products price is:4961

In [31]:
#calculate The moinimum price
min_products_price=orders['price'].min()
print(f"minimum products price is:{min_products_price}")

minimum products price is:521

In [32]:
#Avg quantity
print(orders['quantity'].mean())

3.03

In [33]:
#Calculate total quantity sold
print(orders['quantity'].sum())

303

In [34]:
#Find median of price column
print(orders['price'].median())

2691.5

In [35]:
#count unique product IDS
print(products['product_id'].nunique())

20

In [36]:
#convert order_date into datetime format
orders['order_date']=pd.to_datetime(orders['order_date'])

In [37]:
orders

   order_id customer_id product_id order_date  quantity  price
0    ORD001     CUST067    PROD014 2024-07-25         4    939
1    ORD002     CUST069    PROD008 2024-09-25         5   1742
2    ORD003     CUST088    PROD006 2024-08-23         5   1722
3    ORD004     CUST093    PROD017 2024-08-26         4   2989
4    ORD005     CUST095    PROD015 2024-09-06         3   1197
..      ...         ...        ...        ...       ...    ...
95   ORD096     CUST089    PROD006 2024-08-02         1    800
96   ORD097     CUST001    PROD002 2024-06-23         1   4225
97   ORD098     CUST097    PROD009 2024-08-11         4   1221
98   ORD099     CUST099    PROD013 2024-09-24         4   3076
99   ORD100     CUST014    PROD011 2024-08-02         1   2567

[100 rows x 6 columns]

In [38]:
#Extract year from order_date
orders['order_date'].dt.year

0     2024
1     2024
2     2024
3     2024
4     2024
      ...
95    2024
96    2024
97    2024
98    2024
99    2024
Name: order_date, Length: 100, dtype: int32

In [39]:
#Extract month from order date
orders['order_date'].dt.month

0     7
1     9
2     8
3     8
4     9
     ..
95    8
96    6
97    8
98    9
99    8
Name: order_date, Length: 100, dtype: int32

In [42]:
#Convert signup date into datetime
customer['signup_date']=pd.to_datetime(customer['signup_date'])

In [ ]:
customer

In [ ]:
#Create a signup year column.
customer['signup_year']=customer['signup_date'].dt.year

In [ ]:
customer

In [ ]:
#Create a signup month column.
customer['signup_month']=customer['signup_date'].dt.month

In [ ]:
#sort orders by date and find erliest date.
orders=orders.sort_values(by='order_date')
earliest_date=orders['order_date'].min()
print(earliest_date)
print(orders)

In [ ]:
#check if any invalid date exist
orders['order_date'].isna().sum()

In [50]:
#filter orders where price>3000.
orders[orders['price']>3000]

   order_id customer_id product_id order_date  quantity  price
7    ORD008     CUST026    PROD008 2024-08-04         3   3909
9    ORD010     CUST056    PROD015 2024-09-29         4   4780
10   ORD011     CUST009    PROD005 2024-06-05         2   3616
11   ORD012     CUST086    PROD015 2024-10-17         3   4190
12   ORD013     CUST043    PROD017 2024-06-14         3   4126
14   ORD015     CUST041    PROD020 2024-07-28         3   4012
15   ORD016     CUST085    PROD011 2024-11-14         5   3001
28   ORD029     CUST017    PROD017 2024-11-19         4   3846
29   ORD030     CUST025    PROD016 2024-06-30         4   4190
30   ORD031     CUST054    PROD008 2024-10-23         1   4349
36   ORD037     CUST079    PROD009 2024-07-13         3   4219
41   ORD042     CUST001    PROD005 2024-08-19         5   3982
43   ORD044     CUST037    PROD008 2024-10-27         4   4961
51   ORD052     CUST057    PROD018 2024-06-20         2   3019
53   ORD054     CUST087    PROD014 2024-11-24         2   4097
55   ORD056     CUST066    PROD007 2024-08-02         1   4339
57   ORD058     CUST095    PROD013 2024-11-26         2   3797
59   ORD060     CUST085    PROD001 2024-11-23         2   4599
60   ORD061     CUST011    PROD019 2024-11-01         4   4923
61   ORD062     CUST037    PROD013 2024-07-01         3   4545
62   ORD063     CUST066    PROD016 2024-10-23         5   4086
65   ORD066     CUST080    PROD010 2024-10-15         3   4039
66   ORD067     CUST043    PROD013 2024-09-18         1   3140
75   ORD076     CUST004    PROD014 2024-10-04         2   4354
76   ORD077     CUST006    PROD016 2024-06-28         3   4751
77   ORD078     CUST032    PROD001 2024-09-19         1   4122
80   ORD081     CUST099    PROD013 2024-09-26         3   4070
81   ORD082     CUST010    PROD006 2024-07-10         2   4528
83   ORD084     CUST054    PROD005 2024-07-16         1   4350
84   ORD085     CUST081    PROD020 2024-10-12         1   3350
85   ORD086     CUST074    PROD018 2024-11-14         5   3845
86   ORD087     CUST025    PROD001 2024-08-09         3   3230
87   ORD088     CUST092    PROD013 2024-11-05         4   3130
90   ORD091     CUST064    PROD001 2024-09-28         3   3201
91   ORD092     CUST052    PROD003 2024-09-20         2   3872
92   ORD093     CUST032    PROD014 2024-10-30         1   4558
94   ORD095     CUST084    PROD015 2024-08-22         4   3780
96   ORD097     CUST001    PROD002 2024-06-23         1   4225
98   ORD099     CUST099    PROD013 2024-09-24         4   3076

In [49]:
#find Record Where Quantiry>=3.
orders[orders['quantity']>=3]

   order_id customer_id product_id order_date  quantity  price
0    ORD001     CUST067    PROD014 2024-07-25         4    939
1    ORD002     CUST069    PROD008 2024-09-25         5   1742
2    ORD003     CUST088    PROD006 2024-08-23         5   1722
3    ORD004     CUST093    PROD017 2024-08-26         4   2989
4    ORD005     CUST095    PROD015 2024-09-06         3   1197
..      ...         ...        ...        ...       ...    ...
90   ORD091     CUST064    PROD001 2024-09-28         3   3201
93   ORD094     CUST019    PROD005 2024-08-08         3   2861
94   ORD095     CUST084    PROD015 2024-08-22         4   3780
97   ORD098     CUST097    PROD009 2024-08-11         4   1221
98   ORD099     CUST099    PROD013 2024-09-24         4   3076

[65 rows x 6 columns]

In [54]:
#show customer from lahore.
customer[customer['city']=='Lahore']

   customer_id  gender  age    city signup_date
1      CUST002    Male   47  Lahore  2024-12-05
4      CUST005    Male   25  Lahore  2024-05-15
5      CUST006    Male   35  Lahore  2024-02-29
7      CUST008    Male   25  Lahore  2024-10-10
8      CUST009  Female   36  Lahore  2024-03-20
16     CUST017  Female   50  Lahore  2024-11-20
19     CUST020  Female   50  Lahore  2024-09-07
31     CUST032    Male   33  Lahore  2024-05-14
34     CUST035  Female   23  Lahore  2024-10-09
36     CUST037  Female   49  Lahore  2024-08-06
37     CUST038    Male   22  Lahore  2024-10-14
43     CUST044    Male   45  Lahore  2024-10-06
45     CUST046    Male   30  Lahore  2024-07-08
47     CUST048    Male   43  Lahore  2024-10-09
49     CUST050    Male   46  Lahore  2024-08-08
52     CUST053  Female   33  Lahore  2024-06-06
57     CUST058    Male   32  Lahore  2024-12-15
59     CUST060    Male   18  Lahore  2024-12-07
75     CUST076    Male   48  Lahore  2024-05-07
76     CUST077  Female   44  Lahore  2024-05-16
80     CUST081  Female   45  Lahore  2024-07-14
81     CUST082    Male   40  Lahore  2024-01-20
88     CUST089  Female   43  Lahore  2024-04-26
98     CUST099    Male   35  Lahore  2024-06-28

In [55]:
#show customer age>30.
customer[customer['age']>30]

   customer_id  gender  age        city signup_date
0      CUST001    Male   42     Karachi  2024-06-02
1      CUST002    Male   47      Lahore  2024-12-05
2      CUST003  Female   34  Faisalabad  2024-02-23
5      CUST006    Male   35      Lahore  2024-02-29
6      CUST007    Male   39      Multan  2024-02-24
8      CUST009  Female   36      Lahore  2024-03-20
9      CUST010    Male   45     Karachi  2024-05-19
11     CUST012    Male   47  Faisalabad  2024-11-05
13     CUST014    Male   34  Faisalabad  2024-06-24
14     CUST015    Male   50     Karachi  2024-04-14
16     CUST017  Female   50      Lahore  2024-11-20
18     CUST019  Female   37  Faisalabad  2024-09-15
19     CUST020  Female   50      Lahore  2024-09-07
22     CUST023  Female   41  Faisalabad  2024-02-17
25     CUST026    Male   38      Multan  2024-05-21
26     CUST027    Male   49  Faisalabad  2024-01-23
29     CUST030    Male   41   Islamabad  2024-03-07
30     CUST031  Female   37     Karachi  2024-11-22
31     CUST032    Male   33      Lahore  2024-05-14
33     CUST034  Female   33      Multan  2024-08-14
36     CUST037  Female   49      Lahore  2024-08-06
40     CUST041  Female   48      Multan  2024-02-08
42     CUST043    Male   34     Karachi  2024-03-17
43     CUST044    Male   45      Lahore  2024-10-06
44     CUST045    Male   31      Multan  2024-01-19
46     CUST047  Female   37     Karachi  2024-10-25
47     CUST048    Male   43      Lahore  2024-10-09
48     CUST049    Male   41      Multan  2024-03-16
49     CUST050    Male   46      Lahore  2024-08-08
50     CUST051  Female   46     Karachi  2024-03-06
52     CUST053  Female   33      Lahore  2024-06-06
53     CUST054  Female   32      Multan  2024-07-05
55     CUST056  Female   39      Multan  2024-07-02
57     CUST058    Male   32      Lahore  2024-12-15
58     CUST059  Female   32      Multan  2024-05-07
62     CUST063    Male   32      Multan  2024-10-13
65     CUST066  Female   39   Islamabad  2024-03-20
67     CUST068  Female   50   Islamabad  2024-03-24
68     CUST069    Male   33     Karachi  2024-03-31
69     CUST070    Male   35   Islamabad  2024-07-30
70     CUST071    Male   49  Faisalabad  2024-01-13
71     CUST072  Female   31     Karachi  2024-04-01
73     CUST074  Female   48  Faisalabad  2024-07-29
74     CUST075    Male   33   Islamabad  2024-12-08
75     CUST076    Male   48      Lahore  2024-05-07
76     CUST077  Female   44      Lahore  2024-05-16
80     CUST081  Female   45      Lahore  2024-07-14
81     CUST082    Male   40      Lahore  2024-01-20
82     CUST083  Female   45      Multan  2024-08-28
83     CUST084    Male   44     Karachi  2024-04-23
84     CUST085    Male   47      Multan  2024-04-12
88     CUST089  Female   43      Lahore  2024-04-26
89     CUST090    Male   39     Karachi  2024-04-24
91     CUST092  Female   33   Islamabad  2024-12-03
94     CUST095    Male   46      Multan  2024-06-17
96     CUST097    Male   45      Multan  2024-02-05
98     CUST099    Male   35      Lahore  2024-06-28
99     CUST100  Female   47      Multan  2024-11-24

In [56]:
#show products from electronics category.
products[products['category']=='Electronics']

   product_id product_name     category
2     PROD003    Product_3  Electronics
3     PROD004    Product_4  Electronics
7     PROD008    Product_8  Electronics
8     PROD009    Product_9  Electronics
13    PROD014   Product_14  Electronics
17    PROD018   Product_18  Electronics
19    PROD020   Product_20  Electronics

In [59]:
#filter orders where price is between 1000 and 2000.
orders[orders['price'].between(1000,2000)]

   order_id customer_id product_id order_date  quantity  price
1    ORD002     CUST069    PROD008 2024-09-25         5   1742
2    ORD003     CUST088    PROD006 2024-08-23         5   1722
4    ORD005     CUST095    PROD015 2024-09-06         3   1197
6    ORD007     CUST086    PROD018 2024-09-16         4   1470
17   ORD018     CUST093    PROD020 2024-11-14         5   1312
21   ORD022     CUST086    PROD015 2024-07-22         1   1165
22   ORD023     CUST053    PROD006 2024-06-06         2   1786
24   ORD025     CUST052    PROD015 2024-07-10         4   1923
25   ORD026     CUST090    PROD009 2024-08-01         5   1114
26   ORD027     CUST038    PROD008 2024-07-03         2   1782
37   ORD038     CUST073    PROD011 2024-11-03         5   1083
42   ORD043     CUST039    PROD005 2024-06-28         3   1440
45   ORD046     CUST056    PROD005 2024-08-19         3   1720
47   ORD048     CUST078    PROD003 2024-11-21         4   1665
48   ORD049     CUST084    PROD014 2024-09-05         3   1084
50   ORD051     CUST060    PROD011 2024-07-21         3   1859
54   ORD055     CUST028    PROD002 2024-11-08         3   1518
63   ORD064     CUST085    PROD001 2024-06-11         5   1158
69   ORD070     CUST031    PROD018 2024-06-18         2   1248
74   ORD075     CUST019    PROD009 2024-09-16         5   1935
79   ORD080     CUST079    PROD011 2024-11-10         5   1986
82   ORD083     CUST059    PROD015 2024-09-20         4   1247
88   ORD089     CUST090    PROD019 2024-10-16         4   1356
89   ORD090     CUST050    PROD019 2024-10-02         4   1817
97   ORD098     CUST097    PROD009 2024-08-11         4   1221

In [73]:
#create a subset of female customer.
female_subset=customer[customer['gender']=='Female']
print(female_subset.head())

   customer_id  gender  age        city signup_date
2      CUST003  Female   34  Faisalabad  2024-02-23
8      CUST009  Female   36      Lahore  2024-03-20
16     CUST017  Female   50      Lahore  2024-11-20
18     CUST019  Female   37  Faisalabad  2024-09-15
19     CUST020  Female   50      Lahore  2024-09-07
22     CUST023  Female   41  Faisalabad  2024-02-17
23     CUST024  Female   28   Islamabad  2024-11-20
24     CUST025  Female   18  Faisalabad  2024-08-04
27     CUST028  Female   19     Karachi  2024-01-02
30     CUST031  Female   37     Karachi  2024-11-22
32     CUST033  Female   21      Multan  2024-03-23
33     CUST034  Female   33      Multan  2024-08-14
34     CUST035  Female   23      Lahore  2024-10-09
36     CUST037  Female   49      Lahore  2024-08-06
38     CUST039  Female   26      Multan  2024-01-05
40     CUST041  Female   48      Multan  2024-02-08
41     CUST042  Female   28      Multan  2024-12-19
46     CUST047  Female   37     Karachi  2024-10-25
50     CUST051  Female   46     Karachi  2024-03-06
51     CUST052  Female   25  Faisalabad  2024-01-22
52     CUST053  Female   33      Lahore  2024-06-06
53     CUST054  Female   32      Multan  2024-07-05
55     CUST056  Female   39      Multan  2024-07-02
56     CUST057  Female   19      Multan  2024-04-17
58     CUST059  Female   32      Multan  2024-05-07
63     CUST064  Female   22      Multan  2024-07-27
64     CUST065  Female   20   Islamabad  2024-11-13
65     CUST066  Female   39   Islamabad  2024-03-20
67     CUST068  Female   50   Islamabad  2024-03-24
71     CUST072  Female   31     Karachi  2024-04-01
72     CUST073  Female   26   Islamabad  2024-06-19
73     CUST074  Female   48  Faisalabad  2024-07-29
76     CUST077  Female   44      Lahore  2024-05-16
78     CUST079  Female   24      Multan  2024-12-25
79     CUST080  Female   24      Multan  2024-02-25
80     CUST081  Female   45      Lahore  2024-07-14
82     CUST083  Female   45      Multan  2024-08-28
85     CUST086  Female   21   Islamabad  2024-08-23
86     CUST087  Female   24     Karachi  2024-06-28
87     CUST088  Female   21   Islamabad  2024-06-05
88     CUST089  Female   43      Lahore  2024-04-26
91     CUST092  Female   33   Islamabad  2024-12-03
97     CUST098  Female   29      Multan  2024-05-22
99     CUST100  Female   47      Multan  2024-11-24